{% extends 'admin/base.html.twig' %}

{% block content %}
<h1>Liste des utilisateurs</h1>

<div>
  <h2>Rechecher</h2>
  {{ form_start(form) }}
    {{ form_rest(form) }}

    <button type="submit">Rechercher</button>
  {{ form_end(form)}}
</div>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Téléphone</th>
      <th>Action</th> 
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>
          <a href="">
            <i class="fa-solid fa-pen"></i>
          </a>
          <a href="">
            <i class="fa-solid fa-trash"></i>
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
