{% extends 'admin/base.html.twig' %}

{% block body %}
<h1>Liste des utilisateurs</h1>

<p>
  <a href="{{ path('app_admin_user_create') }}">
    <i class="fa-solid fa-circle-plus"></i>
    Ajouter un utilisateur
  </a>
</p>

<div>
  <h2>Rechecher</h2>
  {{ form_start(form) }}
    {{ form_rest(form) }}

    <button type="submit">Rechercher</button>
  {{ form_end(form)}}
</div>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Téléphone</th>
      <th>Action</th> 
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>
          <a href="{{ path('app_admin_user_update', {id: user.id}) }}">
            <i class="fa-solid fa-pen"></i>
          </a>
          <a href="{{ path('app_admin_user_delete', {id: user.id}) }}">
            <i class="fa-solid fa-trash"></i>
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
