{% extends 'base.html.twig' %}

{% block title %}LookBook - Vente de livres entre particulier
{% endblock %}

{% block body %}

	<h1>Nos nouveautés</h1>

	<div>
		{% for book in books %}
			<div>
				{% if book.imagesUrl|length %}
					<img src="{{ book.imagesUrl[0] }}" alt="{{ book.title }}"/>
				{% endif %}
				<p>{{ book.title }}
					({{ book.price }}
					€)</p>
				<p>Vendu par :
					{{ book.user.firstname }}
					{{ book.user.lastname }}</p>
				<p>
					<a href="{{ path('app_basket_add', {id: book.id}) }}">Ajouter au panier</a>
				</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}
