{% extends 'base.html.twig' %}

{% block title %}LookBook - Rechercher
{% endblock %}

{% block body %}

	<h1>Rechercher</h1>

	{{ form(form) }}

		<div>
			{% for book in books %}
				<div>
					<p>{{ book.title }}
						({{ book.price }}
						€)</p>
					<p>Vendu par :
						{{ book.user.firstname }}
						{{ book.user.lastname }}</p>
					<p>
						{% if not app.user or not app.user.basket.books.contains(book) %}
							<a href="{{ path('app_basket_add', {id: book.id}) }}">Ajouter au panier</a>
						{% endif %}
					</p>
				</div>
			{% endfor %}
		</div>

	{% endblock %}
