{% extends 'public.html.twig' %}

{% block subtitle %}Rechercher des annonces{% endblock %}


{% block main %}
{{ form(form) }}

<div class="book-list">
  {% for ad in ads %}
    <div class="book-block">
      {% if ad.pictures is not empty %}
        <div class="background-image">
          <img src="{{ ad.pictures[0] }}" alt="{{ ad.title }}" />
        </div>
      {% endif %}
      <p class="title">{{ ad.title }}</p>
      <div class="footer">
        <p class="author">
          Vendu par <br />{{ ad.author.firstname }} {{ ad.author.lastname }}
        </p>
        <p class="price">
          {{ ad.price }} €
        </p>
      </div>
      <div class="btn-group">
        <button class="btn btn-gray">
          <i class="fa-solid fa-cart-arrow-down"></i>
          Ajouter 
        </button>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
