{% extends 'base.html.twig' %}

{% block title %}Modifier une pizza{% endblock %}

{% block body %}
    <h1>Modifier la pizza : {{ pizza.name }} </h1>

    <form method="POST">
        <label for="name">Nom :</label>
        <input type="text" id="name" name="name" value="{{ pizza.name }}"/>

        <label for="price">Prix :</label>
        <input type="number" id="price" name="price" step="0.01" value="{{ pizza.price }}" />

        <label for="description">Description :</label>
        <textarea id="description" name="description">{{ pizza.description }}</textarea>

        <label for="imageUrl">URL de l'image :</label>
        <input type="url" id="imageUrl" name="imageUrl" value="{{ pizza.imageUrl }}" />

        <button type="submit">Modifier</button>
    </form>
{% endblock %}
