{% extends 'admin/base.html.twig' %}

{% block sub_title %}
	Liste des auteurs
{% endblock %}

{% block page_title %}
	Liste des auteurs
{% endblock %}

{% block content %}

	<div>
		<a href="{{ path('app_admin_authorAdmin_create') }}">
			Nouveau auteur
			<i class="fa-solid fa-circle-plus"></i>
		</a>
	</div>

	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for author in authors %}
				<tr>
					<td>{{ author.id }}</td>
					<td>{{ author.name }}</td>
					<td>
						<a href="{{ path('app_admin_authorAdmin_update', { id: author.id }) }}">
							<i class="fa-solid fa-pen"></i>
						</a>
						<a href="{{ path('app_admin_authorAdmin_delete', { id: author.id }) }}">
							<i class="fa-solid fa-trash"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
