{% extends 'front/base.html.twig' %}

{% block content %}
<h1>Bienvenue</h1>

<h2>Les derniers livres</h2>

{% for book in books %}
  <p>
    <a href="{{ path('app_front_book_show', {
      id: book.id,
    }) }}">
    {{ book.title }}: {{ book.price }} €
    </a>
  </p>
{% endfor %}

<h2>Les derniers auteurs</h2>

{% for author in authors %}
  <p>
    <a href="{{ path('app_front_author_show', {id: author.id}) }}">
      {{ author.name }}
    </a>
  </p>
{% endfor %}

<h2>Les dernières catégories</h2>

{% for category in categories %}
  <p>
    <a href="{{ path('app_front_book_search', {
      'search_book[categoryName]': category.name,
      'search_book[limit]': 10,
      'search_book[page]': 1,
      'search_book[sortBy]': 'id',
      'search_book[direction]': 'DESC',
    }) }}">
      {{ category.name }}
    </a>
  </p>
{% endfor %}

{% endblock %}
