{% extends 'base.html.twig' %}

{% block body %}
<h1>{% block pageTitle %}Nos derniers livres{% endblock %}</h1>

{% block subTitle %}{% endblock %}

<hr />

{% for book in books %}
    <div>
        <p>{{ book.title }}</p>
        <p>Prix : {{ book.price }} €</p>
        <p>Dernière modification : {{ book.updatedAt|date('d/m/Y à H:i', 'Europe/Paris') }}</p>
        <p>Catégories :</p>
        <nav>
            {% for category in book.categories %}
                <a href="{{ path('app_front_category_display', {id: category.id}) }}">{{ category.name }}</a>
            {% endfor %}
        </nav>
        <p>
            <a href="{{ path('app_front_basket_add', {id: book.id}) }}">Ajouter au panier</a>
        </p>
    </div>
    <hr />
{% endfor %}

{% endblock %}
