{% extends 'front.html.twig' %}

{% block main %}

<h1>Rechercher</h1>

{{ form_start(form) }}

  <div class="form-couple">
    <div class="form-group">
      {{ form_row(form.page, {
        'label': 'Page :',
      }) }}
    </div>
    <div class="form-group">
      {{ form_row(form.limit, {
        'label': 'Limite :',
      }) }}
    </div>
  </div>

  <div class="form-couple">
    <div class="form-group">
      {{ form_row(form.orderBy, {
        'label': 'Trier par :',
      }) }}
    </div>
    <div class="form-group">
      {{ form_row(form.direction, {
        'label': 'Sens :',
      }) }}
    </div>
  </div>

  <div class="form-group">
    {{ form_row(form.type, {
      'label': 'Type :',
    }) }}
  </div>

  <div class="form-couple">
    <div class="form-group">
      {{ form_row(form.minTotalArea, {
        'label': 'Surface min :',
      }) }}
    </div>
    <div class="form-group">
      {{ form_row(form.maxTotalArea, {
        'label': 'Surface max :',
      }) }}
    </div>
  </div>

  <div class="form-couple">
    <div class="form-group">
      {{ form_row(form.minPrice, {
        'label': 'Prix min :',
      }) }}
    </div>
    <div class="form-group">
      {{ form_row(form.maxPrice, {
        'label': 'Prix max :',
      }) }}
    </div>
  </div>

  <div class="form-couple">
    <div class="form-group">
      {{ form_row(form.minRooms, {
        'label': 'Piéces min :',
      }) }}
    </div>
    <div class="form-group">
      {{ form_row(form.maxRooms, {
        'label': 'Piéces max :',
      }) }}
    </div>
  </div>

  <div class="form-group">
    {{ form_row(form.address, {
      'label': 'Adresse :',
    }) }}
  </div>

<div class="btn-group full-width">
  <button class="btn" type="submit">
    <span class="label">Rechercher</span>
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</div>

{{ form_end(form) }}

{% for realProperty in realProperties %}

{% embed 'front/partial/_realPropertyCard.html.twig' %}
{% endembed %}

{% endfor %}

{% endblock %}
