{% extends 'admin.html.twig' %}

{% block subtitle %}Liste des utilisateurs{% endblock %}

{% block main %}

<div class="wrapper">
  <h1>Liste des utilisateurs</h1>

  <div class="btn-group">
    <a class="btn" href="{{ path('app_adminUser_create') }}">
      <i class="fa-solid fa-plus"></i>
      Nouvel Utilisateur
    </a>
  </div>

  <table class="table">
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Date de création</th>
      <th>Date de Mise à jour</th>
      <th>Actions</th>
    </tr>
    {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.createdAt|date('d/m/Y à H:i') }}</td>
        <td>{{ user.updatedAt|date('d/m/Y à H:i') }}</td>
        <td class="action">
          <a href="{{ path('app_adminUser_update', {id: user.id}) }}" class="update">
            <i class="fa-solid fa-square-pen"></i>
          </a>

          <a href="{{ path('app_adminUser_remove', {id: user.id}) }}" class="delete">
            <i class="fa-solid fa-trash"></i>
          </a>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>


{% endblock %}
