{% extends 'admin.html.twig' %}

{% block subtitle %}Liste des adresses{% endblock %}

{% block main %}

<div class="wrapper">
  <h1>Liste des adresses</h1>

  <div class="btn-group">
    <a class="btn" href="{{ path('app_adminAddress_create') }}">
      <i class="fa-solid fa-plus"></i>
      Nouvelle Adresse
    </a>
  </div>

  <table class="table">
    <tr>
      <th>Id</th>
      <th>Utilisateur</th>
      <th>Pays</th>
      <th>Code postal</th>
      <th>Ville</th>
      <th>Rue</th>
      <th>Actions</th>
    </tr>
    {% for address in addresses %}
      <tr>
        <td>{{ address.id }}</td>
        <td>{{ address.user.email }}</td>
        <td>{{ address.country }}</td>
        <td>{{ address.zipCode }}</td>
        <td>{{ address.city }}</td>
        <td>{{ address.street }}</td>
        <td class="action">
          <a href="{{ path('app_adminAddress_update', {id: address.id}) }}" class="update">
            <i class="fa-solid fa-square-pen"></i>
          </a>

          <a href="{{ path('app_adminAddress_remove', {id: address.id}) }}" class="delete">
            <i class="fa-solid fa-trash"></i>
          </a>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>


{% endblock %}
