{% extends 'base.html.twig' %}

{% block title %}
	BookSell -
	{% block sub_title %}{% endblock %}
{% endblock %}

{% block stylesheets %}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	<link rel="stylesheet" href="/css/front.css"/>
{% endblock %}

{% block body %}
	<header>
    <p class="logo">BookSell</p>
		
    <nav>
      <a href="{{ path('app_front_home_home') }}">
          <i class="fa-solid fa-house"></i>
      </a>
      <a href="{{ path('app_front_book_search') }}">
        <i class="fa-solid fa-magnifying-glass"></i>
      </a>
      <a href="{{ path('app_security_profil') }}">
        <i class="fa-solid fa-user"></i>
      </a>
      <a href="{{ path('app_security_basket') }}">
        <i class="fa-solid fa-basket-shopping"></i>
      </a>
      {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_admin_bookAdmin_retrieve') }}">
          Admin
        </a>
      {% endif %}
      {% if app.user %}
        <a href="{{ path('app_logout') }}">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
      {% endif %}
    </nav>
	</header>

  <div class="container">
    <h1>
      {% block page_title %}{% endblock %}
    </h1>


    {% block content %}{% endblock %}
  </div>
{% endblock %}
