{% extends 'base.html.twig' %}

{% block title %}LookBook Admin - Nouveau Livre{% endblock %}

{% block body %}

<div class="wrapper">
  <h1>{% block pageTitle %}Nouveau Livre{% endblock %}</h1>

  <div class="btn-group">
    <a class="btn" href="{{ path('app_adminBook_list') }}">
      <i class="fa-solid fa-arrow-left"></i>
      Revenir à la liste
    </a>
  </div>

  {{ form_start(form) }}

  <div>
    <div>
      {{ form_label(form.title) }}
    </div>
    <div>
      {{ form_errors(form.title) }}
    </div>
    {{ form_widget(form.title, {
      attr: {
        placeholder: 'Harry Potter ...',
      }
    })}}
  </div>

  <div>
    <div>
      {{ form_label(form.description) }}
    </div>
    <div>
      {{ form_errors(form.description) }}
    </div>
    {{ form_widget(form.description)}}
  </div>

  <div>
    <div>
      {{ form_label(form.genre) }}
    </div>
    <div>
      {{ form_errors(form.genre) }}
    </div>
    {{ form_widget(form.genre)}}
  </div>

  <div class="btn-group">
    {{ form_row(form.submit, {
      attr: {
        class: 'btn success',
      }
    }) }}
  </div>

  {{ form_end(form) }}
</div>
{% endblock %}
