{% extends 'base.html.twig' %}

{% block title %}LookBook Admin - {% block subtitle '' %}{% endblock %}

{% block body %}
  <header class="top-bar">
    <p class="logo">LookBook</p>
  </header>

  <div class="content">
    <nav class="sidebar">
      <section class="vertical-menu">
        <div class="title" onClick="toggleVerticalMenu(this)">
            <i class="icon fa-solid fa-book"></i>
            <p class="label">
              Les Livres
            </p>
            <i class="direction down fa-solid fa-chevron-down"></i>
            <i class="direction up fa-solid fa-chevron-up"></i>
        </div>
        <ul class="menu">
          <li>
            <a href="{{ path('app_adminBook_list') }}">
              <i class="fa-solid fa-table-list"></i>
              Liste des livres
            </a>
          </li>
          <li>
            <a href="{{ path('app_adminBook_create') }}">
              <i class="fa-solid fa-circle-plus"></i>
              Nouveau Livre
            </a>
          </li>
        </ul>
      </section>
      <section class="vertical-menu">
        <div class="title" onClick="toggleVerticalMenu(this)">
            <i class="fa-solid fa-users"></i>
            <p class="label">
              Les Utilisateurs
            </p>
            <i class="direction down fa-solid fa-chevron-down"></i>
            <i class="direction up fa-solid fa-chevron-up"></i>
        </div>
        <ul class="menu">
          <li>
            <a href="{{ path('app_adminUser_list') }}">
              <i class="fa-solid fa-table-list"></i>
              Liste des utilisateurs
            </a>
          </li>
          <li>
            <a href="{{ path('app_adminUser_create') }}">
              <i class="fa-solid fa-circle-plus"></i>
              Nouvel Utilisateur
            </a>
          </li>
        </ul>
      </section>
      <section class="vertical-menu">
        <div class="title" onClick="toggleVerticalMenu(this)">
          <i class="fa-solid fa-address-book"></i>
            <p class="label">
              Les Adresses
            </p>
            <i class="direction down fa-solid fa-chevron-down"></i>
            <i class="direction up fa-solid fa-chevron-up"></i>
        </div>
        <ul class="menu">
          <li>
            <a href="{{ path('app_adminAddress_list') }}">
              <i class="fa-solid fa-table-list"></i>
              Liste des adresses
            </a>
          </li>
          <li>
            <a href="{{ path('app_adminAddress_create') }}">
              <i class="fa-solid fa-circle-plus"></i>
              Nouvelle adresse
            </a>
          </li>
        </ul>
      </section>
    </nav>

    <main class="page-content">
      {% block main %}
        
      {% endblock %}
    </main>
  </div>

  <script src="/js/app.js"></script>
{% endblock %}
