{% extends 'base.html.twig' %}

{% block body %}
<h1>Liste des livres</h1>

<p>
	<a href="{{ path('app_admin_book_create') }}">Créer un livre</a>
</p>

{# Test si nous avons des livres #}
{% if books is empty %}
	<p>Il n'y a pas encore de livre</p>
{% else %}


<h2>Rechercher</h2>
{{ form_start(form) }}
	{{ form_rest(form) }}

	<button type="submit">Rechercher</button>
{{ form_end(form) }}

<table>
	<thead>
		<tr>
			<th>Identifiant</th>
			<th>Titre</th>
			<th>Auteur</th>
			<th>Prix</th>
			<th>Date de création</th>
			<th>Date de mise à jour</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for book in books %}
			<tr>
				<td>{{ book.id }}</td>
				<td>{{ book.title }}</td>
				<td>{{ book.author.name }}</td>
				<td>{{ book.price }}</td>
				<td>{{ book.createdAt|date('d/m/Y à h:i') }}</td>
				<td>{{ book.updatedAt|date('d/m/Y à h:i') }}</td>
				<td>
					<a href="{{ path('app_admin_book_update', {
						id: book.id,
					}) }}">Modifier</a>
					<a href="{{ path('app_admin_book_delete', {
						id: book.id,
					}) }}">Supprimer</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endif %}

{% endblock %}
